src/flow.json
[{"id":"9a70627b.658fa","type":"tab","label":"Sensor Flow","disabled":false,"info":""},{"id":"2ccbe3c1.362cbc","type":"mongodb out","z":"9a70627b.658fa","mongodb":"65a906a.f9a56f8","name":"Save to DB","collection":"sensors","payonly":false,"upsert":false,"multi":false,"operation":"store","x":670,"y":540,"wires":[]},{"id":"aec07ec9.e0cef","type":"mongodb in","z":"9a70627b.658fa","mongodb":"65a906a.f9a56f8","name":"Get from DB","collection":"sensors","operation":"aggregate","x":490,"y":260,"wires":[["c10c736c.12d98"]]},{"id":"797a0128.9f9f3","type":"inject","z":"9a70627b.658fa","name":"Start","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"x":130,"y":260,"wires":[["71957dd4.369064"]]},{"id":"71957dd4.369064","type":"function","z":"9a70627b.658fa","name":"Prepare query","func":"return {\n    payload: [{\n        $group: {\n            _id: \"$sensorId\",\n            sensorId: {$last:\"$sensorId\"},\n            sensorValue: {$last:\"$sensorValue\"},\n            batteryLevel: {$last:\"$batteryLevel\"},\n            lastUpdate: {$last:\"$lastUpdate\"}\n        }\n    }]\n};","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["aec07ec9.e0cef"]]},{"id":"34d3481.3ae15b8","type":"ui_template","z":"9a70627b.658fa","group":"34d25a6a.f48b66","name":"","order":0,"width":"0","height":"0","format":"<style>\n    .maple-header {\n        height: 100px;\n        text-align: left;\n    }\n    .maple-header svg{\n        vertical-align: bottom;\n    }\n    .maple-header h1 {\n        display: inline-block;\n        font-family: Georgia, serif;\n    }\n    table.maple {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: Tahoma, Geneva, sans-serif;\n    }\n    .maple th{\n        border-bottom: 1px solid #ccc;\n        padding: 8px 16px;\n        font-weight: normal;\n    }\n    .maple td {\n        border-bottom: 1px solid #ccc;\n        padding: 36px 18px;\n        font-weight: bold;\n    }\n    .maple .success {\n        color: forestgreen;\n    }\n    .maple .error {\n        color: firebrick;\n    }\n    .maple .status-success {\n        background: forestgreen;\n        color: white;\n        padding: 4px 8px;\n        border-radius: 4px;\n    }\n    .maple .status-error {\n        background: firebrick;\n        color: white;\n        padding: 4px 8px;\n        border-radius: 4px;\n    }\n    .maple .allcaps {\n        text-transform: uppercase;\n    }\n    .maple .smallcaps {\n        font-variant: small-caps;\n    }\n    .maple .right {\n        text-align: right;\n    }\n    .maple .center {\n        text-align: center;\n    }\n</style>\n<script>\n(function(scope){\n    function calculateDiff() {\n        if (scope.msg && scope.msg.payload) {\n            scope.msg.payload.forEach(function(m) {\n                scope.$apply(function () {\n                    m.diff = (new Date() - new Date(m.lastUpdate)) / 36e5;\n                    m.ago = moment(m.lastUpdate).fromNow();\n                    \n                    m.bat1 = m.batteryLevel > 0; \n                    m.bat2 = m.batteryLevel > 16; \n                    m.bat3 = m.batteryLevel > 33; \n                    m.bat4 = m.batteryLevel > 50; \n                    m.bat5 = m.batteryLevel > 67; \n                    m.bat6 = m.batteryLevel > 84;\n                    \n                    m.closed = m.sensorValue == 'closed';\n                });\n            });\n            $('md-card').height('auto');\n        }\n        setTimeout(calculateDiff, 1000);\n    }\n    calculateDiff();\n})(scope);\n</script>\n<div class=\"maple-header\">\n    <svg\n       xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n       xmlns:cc=\"http://creativecommons.org/ns#\"\n       xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n       xmlns:svg=\"http://www.w3.org/2000/svg\"\n       xmlns=\"http://www.w3.org/2000/svg\"\n       xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\"\n       xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n       id=\"svg8\"\n       version=\"1.1\"\n       viewBox=\"30 80 150 150\"\n       height=\"100px\"\n       width=\"100px\"\n       sodipodi:docname=\"logo.svg\"\n       inkscape:version=\"0.92.2 (5c3e80d, 2017-08-06)\">\n      <sodipodi:namedview\n         pagecolor=\"#ffffff\"\n         bordercolor=\"#666666\"\n         borderopacity=\"1\"\n         objecttolerance=\"10\"\n         gridtolerance=\"10\"\n         guidetolerance=\"10\"\n         inkscape:pageopacity=\"0\"\n         inkscape:pageshadow=\"2\"\n         inkscape:window-width=\"1920\"\n         inkscape:window-height=\"1017\"\n         id=\"namedview21\"\n         showgrid=\"false\"\n         inkscape:zoom=\"0.2102413\"\n         inkscape:cx=\"-1455.9876\"\n         inkscape:cy=\"1257.3605\"\n         inkscape:window-x=\"1912\"\n         inkscape:window-y=\"-8\"\n         inkscape:window-maximized=\"1\"\n         inkscape:current-layer=\"layer1\" />\n      <defs\n         id=\"defs2\" />\n      <metadata\n         id=\"metadata5\">\n        <rdf:RDF>\n          <cc:Work\n             rdf:about=\"\">\n            <dc:format>image/svg+xml</dc:format>\n            <dc:type\n               rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n            <dc:title></dc:title>\n          </cc:Work>\n        </rdf:RDF>\n      </metadata>\n      <g\n         id=\"layer1\">\n        <ellipse\n           ry=\"15.635267\"\n           rx=\"19.109772\"\n           cy=\"116.02588\"\n           cx=\"13.640149\"\n           id=\"path936\"\n           style=\"fill:#ffd5d5;fill-opacity:0;stroke:none;stroke-width:0.551;stroke-miterlimit:4;stroke-dasharray:3.30599996, 0.55099999;stroke-dashoffset:0;stroke-opacity:0.04975125\" />\n        <g\n           id=\"g4852\"\n           transform=\"translate(145.01106,16.246146)\">\n          <circle\n             r=\"54.282429\"\n             cy=\"136.59396\"\n             cx=\"-40.005692\"\n             id=\"path4718\"\n             style=\"fill:#fffffb;fill-opacity:0.06030154;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n          <g\n             transform=\"translate(-98.959968,23.503463)\"\n             id=\"g4738\">\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1\"\n               d=\"m 59.462923,81.17161 c 0.157308,79.44121 0,80.07044 0,80.07044\"\n               id=\"path4520\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"m 59.462923,161.24205 c 0,-80.07044 0,-80.07044 0,-80.07044 v 0\"\n               id=\"path4526\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"\n               d=\"M 89.351693,113.89195 59.353141,131.60106 29.669207,113.89195\"\n               id=\"path4528\"\n               inkscape:connector-curvature=\"0\"\n               sodipodi:nodetypes=\"ccc\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"m 86.59878,125.7688 -9.517213,-4.64062 10e-7,-10.30376\"\n               id=\"path4530\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"m 66.738478,87.346 -6.882281,6.135063\"\n               id=\"path4532\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"m 32.42212,125.7688 9.517213,-4.64062 -10e-7,-10.30376\"\n               id=\"path4530-0\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"M 51.617123,86.677437 58.499404,92.8125\"\n               id=\"path4532-3\"\n               inkscape:connector-curvature=\"0\" />\n            <path\n               style=\"fill:none;stroke:#000000;stroke-width:3.96875;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               d=\"m 60.066144,141.00037 23.359722,3.05221 c 0,0 3.893206,0.50055 4.004439,-2.66963 0.111236,-3.17019 0,-5.89543 1.557285,-6.61845 1.557282,-0.72303 14.40487,-6.39599 14.68295,-6.89654 0.27809,-0.50056 2.33593,-1.44605 0.55617,-4.89432 -1.77975,-3.44827 -3.44826,-5.39487 -1.27919,-10.73413 2.16907,-5.33925 2.61401,-7.00777 1.89098,-7.89764 -0.72302,-0.88988 -4.838696,-2.00223 -7.897645,-2.2247 -3.058948,-0.22247 -5.561723,-0.3337 -6.952156,-1.16796 -1.39043,-0.83426 -3.392651,-3.893203 -5.728576,-4.838703 -2.335924,-0.94549 -5.672957,1.83537 -5.839809,2.2247 -0.166854,0.38932 -5.450491,5.839803 -6.451602,3.948823 -1.00111,-1.89099 5.45049,-24.360353 5.45049,-24.360353 0,0 0.389321,-1.39044 -1.223579,-2.50278 -1.6129,-1.11234 -3.448269,-1.11234 -4.560615,-1.05673 -1.112345,0.0556 -5.839809,-3.11456 -8.008882,-5.83981 -2.169072,-2.72524 -3.239705,-3.434364 -4.407666,-3.601214 l -0.472747,0.04171 c -1.167961,0.166851 -2.294211,0.834259 -4.463284,3.559504 -2.169072,2.725245 -6.896536,5.895429 -8.008882,5.839809 -1.112345,-0.05562 -2.947715,-0.05562 -4.560614,1.05673 -1.6129,1.112343 -1.223579,2.502776 -1.223579,2.502776 0,0 6.4516,22.469368 5.45049,24.360358 -1.001112,1.89098 -6.284748,-3.55951 -6.451602,-3.948831 -0.166852,-0.389321 -3.503885,-3.170182 -5.839809,-2.224691 -2.335925,0.945494 -4.338146,4.004442 -5.728576,4.838702 -1.390433,0.83426 -3.893208,0.94549 -6.952156,1.16796 -3.058949,0.22247 -7.174625,1.33482 -7.897649,2.2247 -0.723024,0.88987 -0.278086,2.55839 1.890986,7.89764 2.169073,5.33926 0.500556,7.28586 -1.279196,10.73413 -1.779752,3.44827 0.278086,4.39376 0.556172,4.89432 0.278087,0.50055 13.12567,6.17351 14.682952,6.89654 1.557285,0.72302 1.446049,3.44826 1.557285,6.61845 0.111233,3.17018 4.004439,2.66963 4.004439,2.66963 l 24.26425,-3.05221 z\"\n               id=\"path4534-2\"\n               inkscape:connector-curvature=\"0\"\n               sodipodi:nodetypes=\"ccscccscssccccsccccscccccssscssccsccc\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1\"\n               cx=\"50.83416\"\n               cy=\"85.876938\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-7\"\n               cx=\"59.510448\"\n               cy=\"77.979294\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-0\"\n               cx=\"68.186737\"\n               cy=\"85.988174\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-75\"\n               cx=\"77.085503\"\n               cy=\"108.90248\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-4\"\n               cx=\"90.878578\"\n               cy=\"112.57323\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-758\"\n               cx=\"87.319077\"\n               cy=\"126.36629\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-41\"\n               cx=\"31.590595\"\n               cy=\"126.14383\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-6\"\n               cx=\"42.157871\"\n               cy=\"109.56989\"\n               r=\"3.0887449\" />\n            <circle\n               style=\"fill:#fffffb;fill-opacity:1;stroke:#000000;stroke-width:2.9104166;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n               id=\"path4600-1-72\"\n               cx=\"27.808622\"\n               cy=\"112.2395\"\n               r=\"3.0887449\" />\n          </g>\n        </g>\n        <circle\n           style=\"fill:#732100;fill-opacity:0;stroke:#ac1f17;stroke-width:7.9375;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"\n           id=\"path4858\"\n           cx=\"105.00536\"\n           cy=\"152.8401\"\n           r=\"62.736248\" />\n      </g>\n    </svg>\n    <h1>MAPLE Sense</h1>\n</div>\n<table class=\"maple\">\n    <tr>\n        <th width=\"25%\">\n            Name\n        </th>   \n        <th width=\"25%\">\n            Status\n        </th>\n        <th width=\"25%\">\n            Battery\n        </th>\n        <th width=\"25%\">\n            Last Update\n        </th>\n    </tr>\n    <tr ng-repeat=\"m in msg.payload | orderBy:'sensorId'\">\n        <td>\n            <span ng-bind-html=\"m.sensorName\"></span>\n        </td>\n        <td class=\"center\">\n            <div style=\"height:100px;\">\n                <svg\n                   xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n                   xmlns:cc=\"http://creativecommons.org/ns#\"\n                   xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n                   xmlns:svg=\"http://www.w3.org/2000/svg\"\n                   xmlns=\"http://www.w3.org/2000/svg\"\n                   id=\"svg4596\"\n                   version=\"1.1\"\n                   viewBox=\"30 70 160 160\"\n                   height=\"100%\"\n                   width=\"100%\">\n                  <defs\n                     id=\"defs4590\" />\n                  <metadata\n                     id=\"metadata4593\">\n                    <rdf:RDF>\n                      <cc:Work\n                         rdf:about=\"\">\n                        <dc:format>image/svg+xml</dc:format>\n                        <dc:type\n                           rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n                        <dc:title></dc:title>\n                      </cc:Work>\n                    </rdf:RDF>\n                  </metadata>\n                  <g\n                     id=\"layer1\">\n                    <g\n                       transform=\"matrix(0.64802128,0,0,0.64802128,62.934612,49.157314)\"\n                       id=\"g5342\">\n                      <path\n                         style=\"fill:#00b000;fill-opacity:1;stroke:none;stroke-width:0.99999994px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1\"\n                         d=\"m 406.38059,715.63951 c -73.11579,1.93433 -121.40318,35.09459 -309.238012,49.73744 0,0 5.173782,14.3087 11.429692,17.14258 97.60825,44.2157 303.68945,105.83008 303.68945,105.83008 l 140.66211,-1.91992 -0.41657,-45.08734 -1.07143,-96.95563 c -63.71356,-3.69013 -94.53581,-30.08374 -145.05524,-28.74721 z\"\n                         transform=\"scale(0.26458333)\"\n                         id=\"path5286\" />\n                      <path\n                         style=\"fill:#007e00;fill-opacity:1;stroke:none;stroke-width:0.99999994px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1\"\n                         d=\"m -42.326803,740.5052 1.382048,115.12287 -0.416573,30.80162 H 477.85938 C 264.49113,730.3953 220.887,658.498 151.78528,661.00996 91.875759,663.18777 53.068438,716.55923 -42.326803,740.5052 Z\"\n                         transform=\"scale(0.26458333)\"\n                         id=\"path5284\" />\n                      <rect\n                         style=\"fill:#2b0000;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:7;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers\"\n                         id=\"rect5141\"\n                         width=\"157.2381\"\n                         height=\"158.1154\"\n                         x=\"-10.943484\"\n                         y=\"76.418976\" />\n                    </g>\n                    <g ng-hide=\"m.closed\"\n                       style=\"fill:#00b9ff;fill-opacity:0.2254902;stroke-width:7;stroke-miterlimit:4;stroke-dasharray:none\"\n                       id=\"g5259-0\"\n                       transform=\"matrix(-0.64802128,0,0,0.64802128,150.64504,47.805162)\">\n                      <g\n                         id=\"g5301\">\n                        <g\n                           id=\"g5307\">\n                          <g\n                             id=\"g5313\">\n                            <path\n                               transform=\"matrix(-1,0,0,1,135.35114,-1.2916666e-8)\"\n                               id=\"path5238\"\n                               d=\"m 139.38061,228.87062 64.51248,24.69453 V 61.653335 l -64.51248,25.936049 z\"\n                               style=\"fill:#00b9ff;fill-opacity:0.2254902;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\" />\n                            <path\n                               transform=\"matrix(-1,0,0,1,135.35114,-1.2916666e-8)\"\n                               id=\"path5255\"\n                               d=\"m 201.83928,160.17262 -62.74404,2.26786\"\n                               style=\"fill:#00b9ff;fill-opacity:0.2254902;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\" />\n                            <path\n                               id=\"path5238-36\"\n                               d=\"m 139.38061,228.87062 64.51248,24.69453 V 61.653335 l -64.51248,25.936049 z\"\n                               style=\"fill:#00b9ff;fill-opacity:0.2254902;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\" />\n                            <path\n                               id=\"path5255-8\"\n                               d=\"m 201.83928,160.17262 -62.74404,2.26786\"\n                               style=\"fill:#00b9ff;fill-opacity:0.2254902;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\" />\n                          </g>\n                        </g>\n                      </g>\n                    </g>\n                    <g ng-show=\"m.closed\"\n                       transform=\"matrix(0.64802128,0,0,0.64802128,62.934612,49.157314)\"\n                       id=\"g5337\">\n                      <rect\n                         style=\"fill:#00b9ff;fill-opacity:0.22745098;fill-rule:evenodd;stroke:#000000;stroke-width:7;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers\"\n                         id=\"rect5141-4\"\n                         width=\"157.2381\"\n                         height=\"158.1154\"\n                         x=\"-10.943484\"\n                         y=\"76.418976\" />\n                      <path\n                         style=\"fill:none;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n                         d=\"M -10.547671,155.47668 H 145.8988\"\n                         id=\"path5330\" />\n                      <path\n                         style=\"fill:none;stroke:#000000;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n                         d=\"m 67.675565,75.883928 c 0,159.883922 0,159.883922 0,159.883922\"\n                         id=\"path5332\" />\n                    </g>\n                  </g>\n                </svg>\n            </div>\n            <div ng-class=\"m.sensorValue == 'closed' ? 'success' : 'error'\">\n                <span ng-bind-html=\"m.sensorValue\" class=\"allcaps\"></span>\n            </div>\n        </td>\n        <td ng-class=\"m.batteryLevel > 20 ? 'success' : 'error'\" class=\"center\">\n            <div style=\"height:60px;\">\n            <svg\n               xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n               xmlns:cc=\"http://creativecommons.org/ns#\"\n               xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n               xmlns:svg=\"http://www.w3.org/2000/svg\"\n               xmlns=\"http://www.w3.org/2000/svg\"\n               xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n               id=\"svg8\"\n               version=\"1.1\"\n               viewBox=\"0 0 297 210\"\n               height=\"100%\"\n               width=\"100%\">\n              <defs\n                 id=\"defs2\">\n                <linearGradient\n                   id=\"linearGradient947\">\n                  <stop\n                     style=\"stop-color:#008000;stop-opacity:1;\"\n                     offset=\"0\"\n                     id=\"stop941\" />\n                  <stop\n                     id=\"stop949\"\n                     offset=\"0.52386415\"\n                     style=\"stop-color:#216e00;stop-opacity:1;\" />\n                  <stop\n                     id=\"stop943\"\n                     offset=\"0.89564198\"\n                     style=\"stop-color:#a02f00;stop-opacity:1;\" />\n                  <stop\n                     style=\"stop-color:#ff0000;stop-opacity:1\"\n                     offset=\"1\"\n                     id=\"stop945\" />\n                </linearGradient>\n                <linearGradient\n                   id=\"linearGradient914\">\n                  <stop\n                     id=\"stop910\"\n                     offset=\"0\"\n                     style=\"stop-color:#008000;stop-opacity:1;\" />\n                  <stop\n                     style=\"stop-color:#a02f00;stop-opacity:1;\"\n                     offset=\"0.62835073\"\n                     id=\"stop937\" />\n                  <stop\n                     id=\"stop912\"\n                     offset=\"1\"\n                     style=\"stop-color:#ff0000;stop-opacity:1\" />\n                </linearGradient>\n                <linearGradient\n                   gradientUnits=\"userSpaceOnUse\"\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   id=\"linearGradient916\"\n                   xlink:href=\"#linearGradient914\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient939-0\"\n                   xlink:href=\"#linearGradient947\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient1000\"\n                   xlink:href=\"#linearGradient947\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient1002\"\n                   xlink:href=\"#linearGradient947\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient1004\"\n                   xlink:href=\"#linearGradient947\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient1006\"\n                   xlink:href=\"#linearGradient947\" />\n                <linearGradient\n                   y2=\"202.10799\"\n                   x2=\"139.93419\"\n                   y1=\"46.557121\"\n                   x1=\"139.93419\"\n                   gradientTransform=\"matrix(0,-1.6035751,1.6035751,0,-44.545217,419.68375)\"\n                   gradientUnits=\"userSpaceOnUse\"\n                   id=\"linearGradient1008\"\n                   xlink:href=\"#linearGradient947\" />\n              </defs>\n              <metadata\n                 id=\"metadata5\">\n                <rdf:RDF>\n                  <cc:Work\n                     rdf:about=\"\">\n                    <dc:format>image/svg+xml</dc:format>\n                    <dc:type\n                       rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n                    <dc:title></dc:title>\n                  </cc:Work>\n                </rdf:RDF>\n              </metadata>\n              <g\n                 transform=\"translate(0,-87)\"\n                 id=\"layer1\">\n                <rect\n                   transform=\"rotate(-90)\"\n                   rx=\"11.177681\"\n                   ry=\"10.00166\"\n                   y=\"21.947268\"\n                   x=\"-263.87164\"\n                   height=\"263.19669\"\n                   width=\"138.62086\"\n                   id=\"rect823\"\n                   style=\"fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.38116157\" />\n                <path ng-show=\"m.bat6\"\n                   id=\"path996\"\n                   d=\"m 28.605521,246.78761 c 0,5.56324 4.234314,10.04183 9.494906,10.04183 h 25.30925 V 132.29353 h -25.30925 c -5.260592,0 -9.494906,4.47859 -9.494906,10.04183 z\"\n                   style=\"fill:url(#linearGradient939-0);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <path ng-show=\"m.bat5\"\n                   id=\"path994\"\n                   d=\"M 71.981442,256.82944 H 106.91073 V 132.29353 H 71.981442 Z\"\n                   style=\"fill:url(#linearGradient1008);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <path ng-show=\"m.bat4\"\n                   id=\"path992\"\n                   d=\"m 115.48249,256.82944 h 34.93012 V 132.29353 h -34.93012 z\"\n                   style=\"fill:url(#linearGradient1006);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <path ng-show=\"m.bat3\"\n                   id=\"path990\"\n                   d=\"m 158.98437,256.82944 h 34.93012 V 132.29353 h -34.93012 z\"\n                   style=\"fill:url(#linearGradient1004);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <path ng-show=\"m.bat2\"\n                   id=\"path988\"\n                   d=\"m 202.48626,256.82944 h 34.92928 V 132.29353 h -34.92928 z\"\n                   style=\"fill:url(#linearGradient1002);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <path ng-show=\"m.bat1\"\n                   id=\"rect823-3\"\n                   d=\"m 245.9873,256.82944 h 23.00308 c 5.26058,0 9.49573,-4.47859 9.49573,-10.04183 V 142.33536 c 0,-5.56324 -4.23515,-10.04183 -9.49573,-10.04183 H 245.9873 Z\"\n                   style=\"fill:url(#linearGradient1000);fill-opacity:1;stroke:#000000;stroke-width:0.35202113\" />\n                <rect\n                   transform=\"rotate(-90)\"\n                   y=\"10.182348\"\n                   x=\"-229.41272\"\n                   height=\"14.546717\"\n                   width=\"69.703018\"\n                   id=\"rect979\"\n                   style=\"fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none\" />\n              </g>\n            </svg>\n            </div>\n            <div><span ng-bind-html=\"m.batteryLevel\"></span>%</div>\n        </td>\n        <td ng-class=\"m.diff < 8 ? 'success' : 'error'\" class=\"right\">\n            <span ng-bind-html=\"m.ago\" ng-attr-title=\"{{m.lastUpdate | date:'EEEE, MMMM d, H:mm:ss'}}\"></span>\n        </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1160,"y":340,"wires":[[]]},{"id":"24f4d595.6e756a","type":"inject","z":"9a70627b.658fa","name":"Debug","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["b0492638.1f9dc8"]]},{"id":"b0492638.1f9dc8","type":"function","z":"9a70627b.658fa","name":"Random","func":"return {payload: [{\n            sensorId: 1,\n            sensorName: 'Lounge Window 1',\n            sensorValue: Math.random() > 0.5 ? 'closed' : 'open',\n            batteryLevel: Math.floor(Math.random() * 100) + 1,\n            lastUpdate: new Date() - Math.random() * 6e7\n        },\n        {\n            sensorId: 2,\n            sensorName: 'Lounge Window 2',\n            sensorValue: Math.random() > 0.5 ? 'closed' : 'open',\n            batteryLevel: Math.floor(Math.random() * 100) + 1,\n            lastUpdate: new Date() - Math.random() * 6e7\n        },\n        {\n            sensorId: 3,\n            sensorName: 'Lounge Window 3',\n            sensorValue: Math.random() > 0.5 ? 'closed' : 'open',\n            batteryLevel: Math.floor(Math.random() * 100) + 1,\n            lastUpdate: new Date() - Math.random() * 6e7\n        },\n        {\n            sensorId: 4,\n            sensorName: 'Escape Window 1',\n            sensorValue: Math.random() > 0.5 ? 'closed' : 'open',\n            batteryLevel: Math.floor(Math.random() * 100) + 1,\n            lastUpdate: new Date() - Math.random() * 6e7\n        }]};","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["34d3481.3ae15b8"]]},{"id":"5e24754b.dec5dc","type":"mqtt in","z":"9a70627b.658fa","name":"Sensor Input","topic":"mysensors-out/#","qos":"0","broker":"9481dde5.6b7e2","x":150,"y":480,"wires":[["db90aac6.7f4ea8"]]},{"id":"db90aac6.7f4ea8","type":"function","z":"9a70627b.658fa","name":"Build Object","func":"//EXAMPLE: mysensors-out/2/255/3/0/11\n//URL: https://www.mysensors.org/download/serial_api_20\n//0: name\n//1: node-id\n//2: child-sensor-id\n//3: command\n//4: ack\n//5: type\n\nvar topic = msg.topic.split('/');\nmsg.sensorId = topic[1];\nvar cmd = topic[3];\nvar type = topic[5];\nvar cachedMsg = flow.get(\"sensor\" + msg.sensorId);\n\nif (cmd == '3' && type == '0') {\n    msg.batteryLevel = msg.payload;\n    if (cachedMsg) {\n        msg.sensorValue = cachedMsg.sensorValue;\n    }\n}\nelse if (cmd == '1' && type == '16') {\n    msg.sensorValue = msg.payload == '1' ? 'closed' : 'open';\n    if (cachedMsg) {\n        msg.batteryLevel = cachedMsg.batteryLevel;\n    }\n} else {\n    return null;\n}\n\nmsg.lastUpdate = new Date();\nflow.set(\"sensor\" + msg.sensorId, msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["2ccbe3c1.362cbc","8fb417d3.35ba88"]]},{"id":"8fb417d3.35ba88","type":"function","z":"9a70627b.658fa","name":"Build collection","func":"var items = [];\n\nfor (var i = 1; i < 10; i++) {\n    var sensor = flow.get(\"sensor\" + i);\n    if (sensor) {\n        items.push(sensor);\n    } else {\n        break;\n    }\n}\n\nreturn {payload: items};","outputs":1,"noerr":0,"x":680,"y":420,"wires":[["d4a0208.ab79de"]]},{"id":"d4a0208.ab79de","type":"function","z":"9a70627b.658fa","name":"Set Names","func":"var names = [null, \"Lounge Window 1\", \"Lounge Window 2\"];\n\nmsg.payload.forEach(function(m) {\n    m.sensorName = names[m.sensorId]; \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["34d3481.3ae15b8"]]},{"id":"c10c736c.12d98","type":"function","z":"9a70627b.658fa","name":"Save to Context","func":"msg.payload.forEach(function(m) {\n    flow.set(\"sensor\" + m.sensorId, m);\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["d4a0208.ab79de"]]},{"id":"65a906a.f9a56f8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"sensorsdb","name":"mongo"},{"id":"34d25a6a.f48b66","type":"ui_group","z":"","name":"Sensors","tab":"e83e3988.17c1c8","order":2,"disp":false,"width":"18","collapse":false},{"id":"9481dde5.6b7e2","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e83e3988.17c1c8","type":"ui_tab","z":"","name":"MAPLE Sense","icon":"dashboard","order":1}]